<div class="contrainer">
    <form (submit)="guardarCambios()" [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Titulo</mat-label>
            <input matInput [formControl]="form.controls.titulo">
            <mat-error>{{obtenerErrorCampoTitulo()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de lanzamiento</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="form.controls.fechaLanzamiento">
            <mat-datepicker #picker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-error>{{obtenerErrorCampoFechaLanzamiento()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tráiler</mat-label>
            <input matInput [formControl]="form.controls.trailer">
        </mat-form-field>

        <app-selector-imagen titulo="Poster película" [urlImagenActual]="modelo?.poster" (archivoSeleccionado)="archivoSeleccionado($event)">

        </app-selector-imagen>

        <div class="espacio-botones">
            <button type="submit" mat-flat-button [disabled]="form.invalid"> 
                Guardar
            </button>
            <a mat-stroked-button routerLink="/" >Cancelar</a>
        </div>

    </form>

    
</div>