html, body {
    height: 100%;
}

body {
    /* background-color: rgb(208, 208, 208); */
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
    text-align: center;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

button{
    margin-right: 1rem;
}

.mat-mdc-form-field{
    width: 100%;
    max-width: 500px;
    display: block;
    margin-top: 1rem;
}

.espacio-botones{
    margin-top: 1rem;
    }